body {
    margin: 18px;
    background: url(images/bg-pattern-top-mobile.svg) no-repeat top left,
                url(images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    background-size: 100vw;
    text-align: center;
    line-height: 1.7;
    font-family: 'Spartan';
    font-size: .8rem;
    letter-spacing: .25px;
    color: #502050;
}

h1 {
    margin: 90px auto 20px;
    width: 90%;
    line-height: 1;
    font-size: clamp(2rem, 2.1rem, 2.2rem);
    letter-spacing: -2px;
}

.subtitle {
    font-size: .91rem;
    color: 	#937b92;
}

.ratings-container {
    margin: 45px auto 50px;
    display: block;
}

.ratings {
    display: flex;
    flex-flow: wrap;
    margin: 17px auto;
    border-radius: 10px;
    padding: 10px 40px;
    width: 75%;
    background-color: #f7f2f7;
    line-height: 2.2;
    font-weight: 700;
}

.stars {
    flex: 100%;
    letter-spacing: 6px;
}

.company-rated {
    flex: 100%;
}

.testimonials-container {
    margin: 0 auto;
    display: block;
}

[class*="card-"] {
    margin: 15px auto;
    border-radius: 10px;
    padding: 40px 30px 20px;
    width: 82%;
    background-color: #502050;
    font-weight: 400;
    text-align: left;
}

.avatar {
    margin: 0 20px 30px 0;
    border-radius: 50%;
    float: left;
    width: 15%;
}

.names {
    margin: 0;
    font-weight: 700;
    color: #ffffff;
}

.verified {
    margin: 0;
    font-weight: 400;
    color: 	#ee68a4;
}

.testimonials {
    clear: both;
    font-weight: 400;
    color: #ffffff;
}

.attribution {
    margin: 20px auto;
    font-size: .7rem;
}

@media screen and (min-width: 1440px) {    
    body {
        position: relative;
        margin: 130px auto;
        background: url(images/bg-pattern-top-desktop.svg) no-repeat top left,
                    url(images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
        width: 1100px;
        font-size: .8rem;
    }

    h1 {
        margin: 0px;
        font-size: 3rem;
    }

    .subtitle {
        margin: 12px 0;
        font-size: .95rem;
    }

    .content-container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        width: 1100px;
    }

    .intro {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding-right: 100px;
        width: 450px;
        text-align: left;
    }

    .ratings-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr 350px 1fr 1fr;
        row-gap: 15px;
    }

    .ratings {
        flex-flow: row;
        margin: 0;
        padding: 15px 30px;
        width: 375px; 
    }

    .stars {
        flex: 25%;
        letter-spacing: .5rem;
    }

    .company-rated {
        padding-left: 20px;
        flex: 75%;
        text-align: left;
    }
    .rating-a {
        grid-column: 1 / 4;
    }
    
    .rating-b {
        grid-column: 2 / 5;
    }
    
    .rating-c {
        grid-column: 3 / 6;
    }

    .testimonials-container {
        grid-row: 2 / 3;
        margin-top: 60px;
        display: grid;
        grid-template-rows: 17px 17px 200px 17px 17px;
        grid-template-columns: repeat(3, auto);
        row-gap: 0;
        column-gap: 30px;
    }

    [class*="card-"] {
        width: 85%;
        margin: 0;
        letter-spacing: .1px;
    }

    .card-a {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        }
    
    .card-b {
        grid-row: 2 / 5;
        grid-column: 2 / 3;
        }
    
    .card-c {
        grid-row: 3 / 6;
        grid-column: 3 / 4;
        }

    .avatar {
        margin: 0 25px 25px 0;
    }

    .attribution {
        margin: 40px auto;
    }
}
